<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ALUC - Groupify</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        body{
            color: white;
            background:url({{ url_for('static',filename='board.jpg') }}) no-repeat center center fixed;
            background-size:100% 100% ;
        }
    </style>
</head>
<body>
<div class="container" style="padding: 7%">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <span><strong>Scores of students:</strong></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ol>
                        {% for student in students %}
                            <li>
                                {{ students[student]['name'] }}&nbsp;:&nbsp;{{ students[student]['score'] }}
                            </li>
                        {% endfor %}
                    </ol>
                </div>
{#                <div class="col-md-6">#}
{#                    <ul>#}
{#                        {% for score in scores[15:] %}#}
{#                            <li>#}
{#                                {{ score }}#}
{#                            </li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                </div>#}
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div style="margin-left: 5%; margin-right: 5%">
                    {% for group in groups %}
                            <div class="col-md-4" >
                                <span><strong>Group:</strong> {{ group }}</span><br>
                                <ul>
                                    {% for each in groups[group] %}
                                        <li>{{ students[each[0]]['name'] }} : {{ students[each[0]]['score'] }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-8">
                    <a href="/overview" class="btn btn-lg btn-primary" style="background: white;color: black;">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>