
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Thank You</title>
    <style>
    body{
      background:url({{ url_for('static',filename='thankyou.png') }}) no-repeat center center fixed;
      background-repeat:no-repeat;
      background-size:100% 100% ;
    }
    .container{
      color: #000;
    }

    </style>
  </head>

  <body>

      <div class="container">
        <h1 style="text-align:center; margin-top: 50px;">Your answer has been successfully submitted.</h1>
    </div> <!-- /container -->


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
</html>